/**/

.container {
  height: 300px;
  background-color: wheat;
}

.res{

  float: center;
  width: 100%;
  background: rgb(255, 250, 250);
 
}
.cal{
  background:cornsilk;
  font-family: "Times New Roman", Times, serif; 
    height:120px;
    width:300px;
    border: 1px solid gray;
    margin: 0 auto 0 auto;
}

.box{
     float:center;  
    height:30px;
    width:300px;
    border: 1px solid gray;
}
.all{

  background-color:cornsilk;
}
.aviso{
  float:center;  
    height:30px;
    width:300px;
}